*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
}

.header {
  text-align: center;
  padding: 1em;
}

.diagramm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  width: 80%;
  margin: 0 auto;
}

.diagramm_item {
  display: flex;
  flex-direction: column;
}

.diagramm_item_bar {
  height: 30px;
  border-radius: 4px;
}
